.add-input {
    padding: 15px;
    height: 20px;
    width: 450px;
    border: none;
    border-radius: 50px 0 0 50px;
}

.add-button {
    height: 50px;
    width: 70px;
    border: none;
    border-radius: 0 50px 50px 0;
    background: #1575CF;
    color: aliceblue;
    cursor: pointer;
}

@media (max-width:700px) {
    .add-input {
        padding: 15px;
        height: 20px;
        width: 300px;
        border: none;
        border-radius: 50px 0 0 50px;
    }
}