@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(154, 192, 235, 1) 15%, rgba(217, 233, 251, 1) 50%, rgba(154, 192, 235, 1) 85%);
}